{#
/**
 * @file
 * Default theme implementation for a CiviMRF Views JSON field item.
 *
 * Available variables:
 * - item: The array structure of the current item.
 * - count: The (zero-based) number of the current item.
 * - field: The Drupal\cmrf_views\Plugin\views\field\JSON instance of the field
 *   the current item belongs to.
 * - item_list: A rendered item list of the array structure of the current item.
 *
 * @see template_preprocess_cmrf_views_field_json_item()
 *
 * @ingroup themeable
 */
#}
{{ item_list }}
